#divy
{
	margin:0 auto;
	width:55vw;
	border: 5px solid white;
	text-align:left;
}

#divy img
{
	width:100px;
	height:100px;
}

button, #divy img, span, audio
{
	margin:10px;
}

audio
{
	display:inline-block;
}

span
{
	font-size:40px;
}

.play
{
	width:200px;
	height:50px;
	background-color:red;
	color:white;
	font-size:25px;
}

.play:hover
{
	background-color:#ffb3da;
}