.bgnd
{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	z-index:-1;
	min-height:100%;
	filter:brightness(75%) blur(5px);
}

body
{
	font:bold 20px comic sans ms, sans-serif;
	color:white;
	text-align:center;
	text-shadow:2px 2px black;
}

a
{
	color: white;
    padding:10px 50px;
	background-color:#5353c6;
	margin:10px;
}

button
{
	display:inline-block;
	color:white;
	background-color:#0099ff;
	font-size:40px;
	width:200px;
	height:70px;
	border:none;
}

button:hover, button:active
{
	background-color:#008ae6
}

button:active
{
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

a, button
{
	text-align:center;
    text-decoration:none;
    display:inline-block;
}