h2, select
{
	margin-left:30px;
	margin-right:30px;
	display:inline-block;
}

select
{
	font-size:30px;
	border:none;
	background-color:transparent;
	color:white;
}

select option
{
	color:black;
}

span
{
	font-size:30px;
}

.feelings
{
	width:150px;
}